
.advantages-section{

    h2 {
        margin-bottom: 0;
    }

    .advantages-conteiner{

        display: flex;
        justify-content: center;     

        .advantage {
            
            width: 40vw;
            text-align: center;  
            font-size: 1.2em;
        }

        p {
            padding: 0px 15px;
            
        }
    }

}