footer{
    background-color: black;
    min-height: 10vh;           // vai ter pelo menos 10% do view port
    display: flex;              //
    align-items: center;        // estes três alinham todos os elementos, qualquer tipo dentro do conteiner
    justify-content: center;    //

    .footer-info{
        color: white;
        text-align: center;
        font-size: 1.5em;

    }

}