body{
    font-family: Roboto, sans-serif; 
    background-color: darken(white, 8%);

}


h2{
    text-align: center;
}

$primary-sass: #373737ff;
$secundary-sass: #fce694ff;
$columbia-blue: #c1dbe3ff;
$tea-green: #c7dfc5ff;
$lemon-yellow-crayola: #f6feaaff;

.stripped section {  
    padding: 25px 0;

    &:nth-child(2n){            
        background-color: darken($columbia-blue, 50%);
        color: white;
    }
 

}